@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-xs: var(--radius-xs);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --radius-4xl: var(--radius-4xl);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-brand-dark: var(--brand-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-danger: var(--danger);
  --color-success: var(--success);
}

:root {
  /* Brand */
  --brand-base: #1f6f43;
  --brand-dark: #124b2b;
  --primary: var(--brand-base);
  --primary-foreground: #ffffff;

  /* Radius */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;

  /* Grayscale */
  --gray-800: #111827;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f8f9fa;

  /* Feedback */
  --success: #19ad70;
  --danger: #ef4444;

  --background: var(--gray-100);
  --foreground: var(--gray-700);

  --input: var(--gray-300);
  --border: var(--gray-300);

  --radius: 4px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI,
      Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
    @apply bg-background text-foreground;
  }
}
